html, body {
    font-family: 'Roboto', sans-serif;
}

.colorMixer {
    width: 900px;
    margin: 0 auto;
    display: flex;
}

.mixedColor {
    width: 500px;
    height: 600px;
    background: #ccc;
    border-radius: 20px;
    margin-top: 30px;
}

.buttonContainer {
    width: 200px;
    height: 600px;
    text-align: center;
}

.buttonContainer header {
    padding: 10px;
    font-weight: 800;
}

.colorButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 100%;
}

.colorButton {
    background: #fff;
    border: 3px #000 solid;border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    padding: 20px 10px;
    margin: 5px 0;
    cursor: pointer;
}
.colorButton span {
    color: white;
  mix-blend-mode: difference;
}

.colorButton.active {
    border-color: red;
}